<script setup lang="ts">
import framePortView from "@/components/framePortView.vue";
import { ref, computed } from "vue";
const framelist = ref([
  {
    name: "ธนดล พงษ์ธุวานนท์",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t31.18172-8/20248335_1524681460923219_1847510426807930651_o.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFNmAnk0wGsvjVAQGzPnXf6AyD41VjRtREDIPjVWNG1EdefAS8NY3H1BJRQxNTyML_rSowQJqWUYtbzKYOj-mDk&_nc_ohc=V3do5yVyqJAAX9XdRmX&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfC30IFmcv1Hs8P5bDYPDPP7YcFIc_dxL4d1QdTBSfItAw&oe=63C9770B",
    education: "ประวัติการศึกษา : คณะวิทยาการสารสนเทศ สาขาวิทยาการคอมพิวเตอร์",
    interested: "สิ่งที่สนใจ : การแข่งขัน การเล่นเกม Gaming Gear",
  },
]);
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of framelist" :key="index">
        <framePortView
          :name="item.name"
          :img="item.img"
          :education="item.education"
          :interested="item.interested"
        ></framePortView>
      </v-col>
    </v-row>
  </v-container>
</template>
