<script setup lang="ts">
import FrameworkPopVue from "@/components/FrameworkPop.vue";
import { ref, computed } from "vue";
const framelist = ref([
  {
    name: "VueJS",
    img: "https://upload.wikimedia.org/wikipedia/commons/9/95/Vue.js_Logo_2.svg",
    rating: 10,
  },
  {
    name: "AngularJS",
    img: "https://miro.medium.com/max/1400/1*R1mfXLP9edcArZXwmGbGag.jpeg",
    rating: 20,
  },
  {
    name: "ReactJS",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png",
    rating: 14,
  },
]);
function changeRating(index: number, rating: number) {
  console.log("action" + rating);
  framelist.value[index].rating = rating;
}
const orderList = computed(() => {
  return [...framelist.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of framelist" :key="index">
        <FrameworkPopVue
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          :class="changeRating"
        ></FrameworkPopVue>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
