<script lang="ts" setup>
import { ref } from "vue";

const props = defineProps<{
  name: string;
  img: string;
  education: string;
  interested: string;
}>();

/*
const props = defineProps({
    name:{
        type:String,
        required: true,
       
    },
    img:{
        type:String,
        required: true,
    },
    rating:{
        type:Number,
        required:true,
        default:10,
    },
});*/
</script>
<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img :src="props.img" height="200px"></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">
          {{ props.name }}
        </div>

        <div class="text-caption">{{ props.education }}</div>
        <div class="text-caption">{{ props.interested }}</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center"> </v-card-actions>
  </v-card>
</template>
