<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/271658929_4871303632927635_4512091003605550451_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE3-ANYQGcIdOFrZ25Q62i4Cv7NWsbz_XMK_s1axvP9c1vaEZ2uo1nYbxdRldzONK_cL0UfRJM_Ojhk02q6riHF&_nc_ohc=oAvHHDBK-r8AX9L6hav&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfB24MGiHslMtB_mrWY4uOoQd7Upa6qNfDDROEPu07GP8g&oe=63A69FDA"
          title="Tanadon Pongtuwanon"
          subtitle="romanza224@gmail.com"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myfiles"
          to="/my-files-view"
        >
        </v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="Shared with me"
          value="shared"
          to="/share-with-me"
        >
        </v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/starred"
        >
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiCursorPointer,
  mdiVuetify,
  mdiCheckboxMarkedCircle,
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
} from "@mdi/js";

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
